# Set up custom ErrorDocument for 404 pages
ErrorDocument 404 /404.php
ErrorDocument 403 /404.php

# Disallow access to .git directory
RewriteEngine On
RewriteRule "^(.*/)?\.git/" - [F,L]

# Disallow access to dot-files
<Files ~ "^\.">
Order allow,deny
deny from all
</Files>

# Set up autoindex stuff
<IfModule mod_autoindex.c>
	IndexOptions FancyIndexing

	IndexOptions XHTML
	IndexOptions HTMLTable
	IndexOptions FoldersFirst
	IndexOptions IgnoreCase

	IndexOptions SuppressHTMLPreamble
	IndexOptions SuppressLastModified
	IndexOptions SuppressSize
	IndexOptions SuppressIcon
	IndexOptions SuppressColumnSorting

	IndexOptions NameWidth=*
	IndexOptions DescriptionWidth=*

	IndexOrderDefault Descending Name

	IndexIgnore ..

	HeaderName /autoindex/header.shtml
	ReadmeName /autoindex/footer.shtml
</IfModule>
