<IfModule mod_autoindex.c>
	SetEnv INDEX_TITLE "Tools"

	AddDescription "An SWF applet designed to make HTTP requests and extract contents from the responses. Useful for demonstrating Flash CSRF vulnerabilities." swf-csrf
</IfModule>
